<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" ng-click="map.getData()">Filter Events</button>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Export Filtered Events
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" ng-click="export.events('csv')">Export in CSV Format</a></li>
      <li><a href="" ng-click="export.events('json')">Export in JSON Format</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Export Filtered Events
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" ng-click="export.filters('csv')">Export in CSV Format</a></li>
      <li><a href="" ng-click="export.filters('json')">Export in JSON Format</a></li>
    </ul>
  </div>
</div>