.idea
.idea/*
.idea_modules
.idea_modules/*
.settings
projectFilesBackup*
logs
project/project
project/target
target
tmp
*~
misc
*.iml
*.log
conf/mybatis.properties
misc
activator
activator-launch-1.2.12.jar
conf/application.conf
deploy/deploy.log
node_modules
