<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CountryMapper">

    <resultMap id="CountryResult" type="Country">
        <id property="id" column="id"/>
        <result property="cowId" column="cow_id"/>
        <result property="name" column="name"/>
        <result property="abbreviation" column="abbreviation"/>
    </resultMap>

    <select id="getCountries" resultType="Country" resultMap="CountryResult">
        SELECT id, cow_id, name, abbreviation
        FROM country
        ORDER BY name ASC;
    </select>

</mapper>