<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EventMapper">
    
    <resultMap id="EventResult" type="Event">
        <id property='id' column='id'/>
        <result property='occurredOnDate' column='occurred_on_date' javaType="java.sql.Date"/>
        <result property='occurredOnTime' column='occurred_on_time' javaType="java.sql.Time"/>
        <result property='longitude' column='longitude'/>
        <result property='latitude' column='latitude'/>
        <result property="closestCountry" column="closest_country"/>
        <result property="territorialWaterStatus" column="territorial_water_status"/>
        <result property="vesselFlagCountry" column="vessel_flag_country"/>
    </resultMap>

    <resultMap id="CountryResult" type="Country">
        <id property="id" column="id"/>
        <result property="cowId" column="cow_id"/>
        <result property="name" column="name"/>
        <result property="abbreviation" column="abbreviation"/>
    </resultMap>

    <select id="getEventsWithFilter" resultType="Event" resultMap="EventResult" parameterType="EventFilter">
        SELECT ev.id, to_char(ev.occurred_on, 'YYYY-MM-DD') AS occurred_on_date,
            to_char(ev.occurred_on, 'HH24:MI:SS') AS occurred_on_time,
            ST_X(ev.location) AS longitude, ST_Y(ev.location) AS latitude,
            COALESCE(co01.name, 'Unspecified') AS closest_country,
            COALESCE(co02.name, 'Unspecified') AS territorial_water_status,
            COALESCE(co03.name, 'Unspecified') AS vessel_flag_country
        FROM event AS ev
        LEFT JOIN country AS co01
            ON co01.cow_id = ev.location_closest_country_id
        LEFT JOIN country AS co02
            ON co02.cow_id = ev.location_water_status_country_id
        LEFT JOIN country AS co03
            ON co03.cow_id = ev.vessel_flag_country_id
        <where>
            <if test="eventFilter.beginDate != null and eventFilter.endDate != null">
                ev.occurred_on &gt;= #{eventFilter.beginDate}::timestamp AND ev.occurred_on &lt;= #{eventFilter.endDate}::timestamp
            </if>
            <if test="eventFilter.closestCountry != null">
                AND ev.location_closest_country_id IN
                <foreach item="id" index="index" collection="eventFilter.closestCountry" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="eventFilter.territorialWaterStatus != null">
                AND ev.locatio_water_status_country_id IN
                <foreach item="id" index="index" collection="eventFilter.territorialWaterStatus" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="eventFilter.vesselCountry != null">
                AND ev.vessel_flag_country_id IN
                <foreach item="id" index="index" collection="eventFilter.vesselCountry" open="(" separator="," close=")">
                    #{id}
                </foreach>
           </if>
        </where>
        ORDER BY ev.occurred_on ASC;
    </select>

    <select id="getEvents" resultType="Event" resultMap="EventResult">
        SELECT ev.id, to_char(ev.occurred_on, 'YYYY-MM-DD') AS occurred_on_date,
            to_char(ev.occurred_on, 'HH24:MI:SS') AS occurred_on_time,
            ST_X(ev.location) AS longitude, ST_Y(ev.location) AS latitude,
            COALESCE(co01.name, 'Unspecified') AS closest_country,
            COALESCE(co02.name, 'Unspecified') AS territorial_water_status,
            COALESCE(co03.name, 'Unspecified') AS vessel_flag_country
        FROM event AS ev
        LEFT JOIN country AS co01
            ON co01.cow_id = ev.location_closest_country_id
        LEFT JOIN country AS co02
            ON co02.cow_id = ev.location_water_status_country_id
        LEFT JOIN country AS co03
            ON co03.cow_id = ev.vessel_flag_country_id
        ORDER BY ev.occurred_on ASC;
    </select>

    <select id="getCountries" resultType="Country" resultMap="CountryResult">
        SELECT id, cow_id, name, abbreviation
        FROM country
        ORDER BY name ASC;
    </select>

</mapper>