html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 50px;
}

#top-nav .container {
    width: 90%;
}

#left-wrapper {
    width: 30%;
    min-height: 100%;
    max-height: 100%;
    float: left;
    overflow: scroll;
}

#filter-analyze-data {
    width: auto;
    padding: 10px;

}

#map {
    width: 70%;
    min-height: 100% ;
    float: right;
}

#filter-incidents-advanced {
    display: none;
    padding: 10px;
}

.navbar a {
    color: #73b5e5 !important;
}

#overlay-message {
    display: none;
    position: absolute;
    width: 50%;
    top: 20%;
    left: 40%;
    z-index: 1;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}
