<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis.properties"></properties>

    <typeAliases>
        <typeAlias type="models.Country" alias="Country"/>
        <typeAlias type="models.Incident" alias="Incident"/>
        <typeAlias type="models.IncidentFilter" alias="IncidentFilter"/>
    </typeAliases>

    <environments default="production">
        <environment id="production">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="${prod.url}"/>
                <property name="username" value="${prod.user}"/>
                <property name="password" value="${prod.pass}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="CountryMapper.xml"/>
        <mapper resource="IncidentMapper.xml"/>
    </mappers>

</configuration>