<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.EventMapper">
    <select id="selectEvent" resultType="models.Event">
        select reference_id, occurred_on, ST_X(location) AS longitude, ST_Y(location) AS latitude from event where reference_id = #{id}
    </select>
    <select id="selectCount" resultType="Integer">
        SELECT COUNT(*) FROM event;
    </select>
</mapper>