<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.EventMapper">
    
    <resultMap id="EventResult" type="Event">
        <id property='id' column='id'/>
        <result property='occurredOnDate' column='occurred_on_date' javaType="java.sql.Date"/>
        <result property='occurredOnTime' column='occurred_on_time' javaType="java.sql.Time"/>
        <result property='longitude' column='longitude'/>
        <result property='latitude' column='latitude'/>
    </resultMap>
    
    <select id="selectEvent" resultType="models.Event" resultMap="EventResult" parameterType="Integer">
        select id, to_char(occurred_on, 'YYYY-MM-DD') as occurred_on_date,
            to_char(occurred_on, 'HH24:MI:SS') as occurred_on_time,
            ST_X(location) AS longitude, ST_Y(location) AS latitude
            from event where reference_id = #{id}
    </select>
    <select id="selectCount" resultType="Event">
        SELECT COUNT(*) FROM event;
    </select>
</mapper>