<section>
   <div class="container">
		<!-- <div ng-include="'assets/partials/help/help-content.html'"></div> -->
		<div class="page-header">
			<h2>Help</h2>
		</div>

		<!-- <div class="row">
          <div class="col-md-12">
            <label>Search Help Topics</label>
            <input class="form-control" placeholder="{{messages.placeHolder.multiSelectSearch}}" ng-model="filterForm.fields.locationInformation.territorialWaterStatus.searchTerm">
          </div>
        </div> -->

		<p>Detailed documentation and usage information coming soon.</p>
		<p>Please email Alex Klibisz, aklibisz@vols.utk.edu or Dr. Brandon Prins, bprins@utk.edu to report any bugs or suggest new
			tools or functionality.</p>
	</div>
</section>
