<section ng-controller="StaticPageController">
  <div class="container">
    <h2>Status</h2>
    <p>
        <a href="https://www.evernote.com/shard/s277/sh/57685006-833a-485a-9420-8833dd80ae9e/d144a4286d4a5e7cf7bf58f92e8c06d9">Status Updates for Version 0.2 (Evernote Document)</a>
    </p>
    <p>
        <a href="https://www.evernote.com/shard/s277/sh/c43e43e2-d913-4897-b392-84aca8dc3ba6/27c721826e44df1501ed12cdf06a7455">Status Updates for Version 0.1 (Evernote Document)</a>
    </p>
  </div>
</section>
