@()<!DOCTYPE html>
<html lang="en" ng-app="mpmap" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MPMAP, Maritime Piracy Mapping Analysis Portal">
    <meta name="author" content="MappingPiracy.net, Alex Klibisz">
    <link rel="icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
    
    <title>MPMAP | Maritime Piracy Mapping Analysis Portal</title>

    <!-- *****  CSS DEPENDENCIES ***** -->

    <!-- CSS: Bootstrap core -->
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <!-- CSS: Angular-UI styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/angular-ui/ui-layout.css")">
    <!-- CSS: Leaflet styles -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- CSS: NG-Modal -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/directives/ng-modal.css")">
    <!-- CSS: NV D3 -->
    <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>
    <!-- Fonts: Lato, Oswald -->
    <link href='http://fonts.googleapis.com/css?family=Lato|Oswald:400' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ***** CSS CUSTOM STYLES ***** -->

     <!-- CSS: Main styles-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/global.css")">
    <!-- CSS: Map styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")">
    <!-- CSS: Analysis styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/analysis.css")">
    

</head>

<body>

<nav ng-include="'assets/partials/nav.html'"></nav>

    <main ng-view></main>

    <!-- *****  JAVASCRIPT DEPENDENCIES ***** -->

    <!-- JS: Angular -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))'></script>

    <!-- JS: Angular Custom Directives -->
     <script src="@routes.Assets.at("javascripts/lib/angular-ui/ui-layout.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/directives/ng-modal.min.js")" type="text/javascript" defer="defer"></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-leaflet-directive.min.js"))'></script>

    <!-- JS: jQuery and Bootstrap -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <!-- JS: Mapping -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.js"))'></script>
    <!-- JS: D3 -->
    <script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
    <script src="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/master/dist/angular-nvd3.js"></script>

    <!--<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("d3.js"))'></script>
    <script src="@routes.Assets.at("javascripts/lib/nv.js")" type="text/javascript" defer="defer" ></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-nvd3.js"))'></script>-->

    <!-- JS: Other libraries -->
    <script src="@routes.Assets.at("javascripts/lib/other/date.js")" type="text/javascript" defer="defer" ></script>


    <!-- *****  ANGULAR FRONT-END CODE***** -->

    <!-- JS: Angular App -->
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript" defer="defer" ></script>
    <!-- JS: Angular Services -->
    <script src="@routes.Assets.at("javascripts/services/mapdata.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/services/analysisdata.js")" type="text/javascript" defer="defer" ></script>
    <!-- JS: Angular Controllers -->
    <script src="@routes.Assets.at("javascripts/controllers/map.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/controllers/staticpage.js")" type="text/javascript" defer="defer" ></script>

</body>
</html>


