@(countries: List[Country])

@main(title = "Home") {
<div id="left-wrapper">
    <div id="filter-analyze-data">
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#filter-events-tab" data-toggle="tab">Filter events</a></li>
                <li><a href="#analyze-data-tab" data-toggle="tab">Analyze Data</a></li>
            </ul>

            <div id="tab-content" class="tab-content" style="padding: 10px">
                <div class="tab-pane active" id="filter-events-tab">
                    <div class="alert alert-info">Select from the options below to filter the event data presented on
                        the map.
                    </div>
                    <form role="form" class="form-horizontal" id="filter-events">
                        <!-- Date Range -->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Begin Date:</label>

                                <div class="col-md-8">
                                    <input type='date' class="form-control" id="begin-date"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">End Date:</label>

                                <div class="col-md-8">
                                    <input type='date' class="form-control" id="end-date"/>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Territorial Water Status -->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Territorial Water Status:</label>

                                <div class="col-md-8">
                                    <select class="form-control" id="territorial-water-status" multiple>
                                        @for(c <- countries) {
                                            <option value="@c.getCowId">@c.getName (@c.getAbbreviation)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Closest Country -->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Closest Country:</label>

                                <div class="col-md-8">
                                    <select class="form-control" id="closest-country" multiple>
                                        @for(c <- countries) {
                                            <option value="@c.getCowId">@c.getName (@c.getAbbreviation)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Vessel Country -->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Vessel Country:</label>

                                <div class="col-md-8">
                                    <select class="form-control" id="vessel-country" multiple>
                                        @for(c <- countries) {
                                            <option value="@c.getCowId">@c.getName (@c.getAbbreviation)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Advanced Filtering Options -->
                        <fieldset>
                            <a class="btn btn-sm btn-info" id="filter-events-advanced-toggle">
                                Advanced event Filters
                            </a>
                            <a class="btn btn-sm btn-info" id="export-events">
                                Export events
                            </a>

                        </fieldset>

                        <div id="filter-events-advanced">
                            <p>Advanced event Filters</p>
                        </div>

                        <p></p>

                        <fieldset>
                            <a href="#" class="btn btn-md btn-primary" id="filter-events-update">
                                Filter Events
                            </a>
                        </fieldset>

                    </form>


                </div>
                <div class="tab-pane" id="analyze-data-tab">
                    <div class="alert alert-info">Select from the options below to present a relational analysis of the
                        filtered data.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>

}
