@()<!DOCTYPE html>
<html lang="en" ng-app="mpmap" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MPMAP, Maritime Piracy Mapping Analysis Portal">
    <meta name="author" content="MappingPiracy.net, Alex Klibisz">

    <title>MPMAP</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">

    <!-- CSS: Bootstrap core -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap/bootstrap.min.css")">
    <!-- CSS: Main styles and fonts -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- CSS: Map styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map/style.css")">
    <!-- CSS: Angular-UI styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/angular-ui/ui-layout.css")">
    <!-- CSS: Leaflet styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/leaflet/leaflet.css")">
    <!-- CSS: NG-Modal -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/other/ng-modal.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<nav ng-include="'assets/partials/nav.html'"></nav>

    <main ng-view></main>

    <!-- JS: Angular -->
    <script src="@routes.Assets.at("javascripts/lib/angular/angular.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/angular/angular-route.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/angular/angular-animate.min.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: Angular App -->
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: Angular Services -->
    <script src="@routes.Assets.at("javascripts/services/mapdata.js")" type="text/javascript" defer="defer" ></script>
    <!-- JS: Angular Controllers -->
    <script src="@routes.Assets.at("javascripts/controllers/map.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/controllers/staticpage.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: Angular Custom Directives -->
    <script src="@routes.Assets.at("javascripts/lib/angular-ui/ui-layout.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/angular/angular-leaflet-directive.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/other/ng-modal.min.js")" type="text/javascript" defer="defer"></script>

    <!-- JS: jQuery and Bootstrap -->
    <script src="@routes.Assets.at("javascripts/lib/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js")" type="text/javascript" defer="defer" ></script>

    <script src="@routes.Assets.at("javascripts/lib/jquery/jquery.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.min.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="@routes.Assets.at("javascripts/lib/bootstrap/ie10-viewport-bug-workaround.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: Mapping -->
    <script src="@routes.Assets.at("javascripts/lib/mapping/leaflet.min.js")" type="text/javascript" defer="defer" ></script>
    <script src="@routes.Assets.at("javascripts/lib/mapping/mapbox.min.js")" type="text/javascript" defer="defer" ></script>

    <!-- JS: Other libraries -->
    <script src="@routes.Assets.at("javascripts/lib/other/date.js")" type="text/javascript" defer="defer" ></script>

</body>
</html>


